*.bin
*~
*.cas
*.d88
*.swp
*.err
.vscode/
.vscode/c_cpp_properties.json
.vscode/settings.json
a.out
altirra*.ini
autorun
autorun.atr
autorun.rmm
build
_cache
r2r
config
config.com
config.com.lbl
config.lbl
config.map
dist.apple2/dist.po
dist.apple2/prepimg.sh
dist/config.com
dist/fcd.com
dist/fconfig.com
dist/fcopy.com
dist/feject.com
dist/fesclk.com
dist/fhost.com
dist/finfo.com
dist/fld.com
dist/flh.com
dist/flobby.com
dist/fls.com
dist/fmall.com
dist/fmount.com
dist/fnet.com
dist/fnew.com
dist/freset.com
dist/fscan.com
dist/ncd.com
dist/ncopy.com
dist/ndel.com
dist/ndir.com
dist/nlogin.com
dist/nmkdir.com
dist/npwd.com
dist/nren.com
dist/nrmdir.com
dist/ntrans.com
dist/rautoans.com
dist/rbaudlok.com
dist/rlisten.com
dist/rsniff.com
debug.scr
Makefile.options
obj

# apple distribution
dist.apple2/*.jar
dist.apple2/*.dsk

# fujinet-lib will be downloaded by makefiles that use it
fujinet-lib/*

# IDE files
.vscode/*
*.o
*.orig
*.rej
