a.out
obj
*.swp
*.c~
*.h~
build
autorun
*.bin
*.cas
*.d88
dist.apple2/prepimg.sh
.vscode/
dist.apple2/dist.po
.vscode/c_cpp_properties.json
.vscode/settings.json
autorun.atr
config
config.com
config.map
dist/config.com
dist/fcd.com
dist/fconfig.com
dist/fcopy.com
dist/feject.com
dist/fesclk.com
config
dist/fhost.com
dist/finfo.com
dist/fld.com
dist/flh.com
dist/fls.com
dist/fmall.com
dist/fmount.com
dist/fnet.com
dist/fnew.com
dist/freset.com
dist/fscan.com
dist/ncd.com
dist/ncopy.com
dist/ndel.com
dist/ndir.com
dist/nlogin.com
dist/nmkdir.com
dist/npwd.com
dist/nren.com
dist/nrmdir.com
dist/ntrans.com
dist/rautoans.com
dist/rbaudlok.com
dist/rlisten.com
dist/rsniff.com
config
config
.vscode/settings.json
.vscode/c_cpp_properties.json
